.textoverimage a:link {
    color: white;
}

#myCarousel {
    margin-top: 15px;
}

.textoverimage {
    background: rgba(0,0,0,0.5);
    border-radius:10%;

    }
.low-carousel {
margin-top:5%;
    display:none;
}

.low-carousel p {
font-size: 1.2em;
}